.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(183, 202, 236);
    height: 60px;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-items: space-evenly;
    list-style-type: none;
}
.navbar ul li {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 5vw;
}
.navbar ul li:hover{
    font-size: 16px;
    transition: all .3s ease-in-out;
}
li a {
    text-decoration: none;
    color: black;
}
.active  {
    background-color: lightseagreen ; 
    border-radius: 25px;
    padding: 5px;
}
.notactive {
    color: black;
}

@media only screen and (min-width:200px)  and (max-width:800px){
    .navbar{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: rgb(183, 202, 236);
        height: 230px;
        align-items: center;
    }
    .navbar ul {
        display: flex;
        flex-direction: column;
        justify-items: space-evenly;
        list-style-type: none;
    }
    .navbar ul li {
        text-decoration: none;
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        margin: 5px 5vw;
        border: 2px solid black;
    }

}